 /* reset iniziale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************** */

body{
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_2164,w_3845,x_0,y_259/v1554918405/shape/mentalfloss/94735-istock-863607936.jpg?itok=ZYfiTd6J");
    background-repeat: no-repeat;
    background-size: cover;
}

ul li {
    list-style: none;
}

.cancellami {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    font-family: 'Lora', serif;
    font-size: 20px;
    filter: drop-shadow(0 0 0.75rem black);
}

#lista-vuota{
    font-size: 30px;
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
}


i{
    opacity: 50%;
}

i:hover{
    cursor: pointer;
    opacity: 100%;
}

img{
    max-width: 250px;
    margin-top: 50px;
}
input{
    margin-top: 20px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

button{
    height: 30px;
    width: 70px;
    border-radius: 10px;
}

input:focus{
    background-color: rgb(211, 251, 211);
}

button:hover {
    cursor: pointer;
}

#container{
    margin: auto;
    width: 1000px;
    max-width: 100%;
    /* border: 1px solid black; */
}

.container-logo-search{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container-todo{
    width: 100%;
    max-width: 100%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.to-do-content{
    width: 100%;
    padding: 20px;
    margin: auto;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(102, 98, 98, 0.3);
    overflow-y: auto;
}